$font-primary: 'Ubuntu', sans-serif;
$font-header: 'Rubik Mono One', sans-serif;
$ico-dist: 0.5rem;
$color-dust: #dddddd;
$color-dirty-dust: #bbbbbb;
$color-ghost-white: #f8f8ff;
$color-gun-metal: #2c3539;
